.corps{   
    background-image: url(./slide/back10);
    background-size: cover; 
    opacity: 0,1;
}
#cont{
    
}
.formule{
    height: 500px;
    margin: 60px 60px 60px 60px;
   
}
.slid{
 
   background: linear-gradient(55deg, #34495e 50%, #2c3e50 50%);
}
#demo{
    margin-top: 100px;
}
.login{
    background: linear-gradient(138deg, #34495e 50%, #2c3e50 50%);
    
}
.texte{
    color: red;
}
.formulaire{
    border: 2px solid #218838;
    background-color: white;
   padding: 20px;
   border-radius: 30px;
}
.formulaire1{
     
   padding-top: 60px;
   margin-top: 15px;
   border-radius: 30px;
   height: 300px;
}
.connecter{
     background-color: white;
   padding: 20px;
   border-radius: 30px;

}
#demo{
    margin-top: 40px;
}
.titre{
    font-family:serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    color:white;
    
}
.titre1{
    font-family:serif;
    font-size: 25px;
    text-align: center;   
    color:white;
}
.titre2{
    font-family:serif;
    text-align: center;  
    color: #218838;
}
.titre3{
    font-family:serif;
    text-align: center;  
    color: #138496;
}
.photo{
   
}
.botton{
    margin-left: 70px;
}
.botton1{
    margin-left: 90px;
}
#connecter{
    border:  3px solid #138496;
    display: none;
}
  

/* 
    Created on : 23 mai 2020, 15:14:39
    Author     : MiiRindra
*/

